:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.25rem;
	font-weight: 400;
	color-scheme: dark;
	color: #ffffff;
	background-color: #141414;
}

body {
	margin: 0;
	width: 100%;
	font-size: 0.875rem;
	line-height: 1.25rem;
	word-break: break-word;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	overscroll-behavior: none;
	display: flex;
	place-content: center;
	flex-direction: column;
	align-items: center;
}

#root {
	display: flex;
	flex-direction: column;
	max-width: 80rem;
	width: 100%;
	height: 100%;
	min-height: 100dvh;
	padding: 0 1rem;
	gap: 1rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	scroll-margin-top: 3.75rem;
}

.fallback {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100dvh - 4rem);
}

.fallback-image {
	width: auto;
	height: 100%;
	max-height: 18rem;
	object-fit: cover;
}

a {
	color: inherit;
	text-decoration: none;
}
