<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.svg') }}">
    <title>Memegraph</title>
</head>

<header>
    <div class="search">
        <input type="search" placeholder="If it exist, there is a meme of it - search among {{ count }} memes!"
            hx-get="/search?q=">
    </div>
</header>

<body hx-boost="true">
    <main>{% block content %}{% endblock %}</main>
</body>
<footer>
    <p>Built using <a href="https://openai.com/research/clip" target="_blank">OpenAI CLIP</a> by <a
            href="https://seanvelasco.com" target="_blank">sean.app</a> for <a
            href="https://supabase.com/blog/supabase-oss-hackathon" target="_blank">Supabase Hackathon</a></p>
</footer>

</html>