{% extends 'base.html' %}

{% block meta %}
<title>memegraph - search and explore memes</title>
<meta name="description" content="Meme search engine and recommendation system">
<meta name="og:title" content="memegraph - search and explore memes">
<meta name="og:description" content="Meme search engine and recommendation system">
<meta name="keywords" content="meme, search, engine, recommendation, system">
<meta name="author" content="Sean Velasco">
<meta name="robots" content="index, follow">
<meta name="og:image" content="{{ url_for('static',filename='og.png') }}">
<meta name="og:url" content="https://memegraph.sean.app">
<meta name="og:site_name" content="memegraph">
<meta name="og:type" content="website">
<meta name="twitter:title" content="memegraph - search and explore memes">
<meta name="twitter:description" content="Meme search engine and recommendation system">
<link rel="canonical" href="https://memegraph.sean.app">
{% endblock %}

{% block content %}

<div class="grid">
    {% for image in images %}
    <a href="/{{ image.id }}">
        <img src="https://memes.sean.app/{{ image.id }}">
    </a>
    {% endfor %}
</div>

{% endblock %}