{% extends 'base.html' %} {% block meta %}
<title>memegraph - search and explore memes</title>
<meta
    name="description"
    content="Meme search engine and recommendation system"
/>
<meta name="og:title" content="memegraph - search and explore memes" />
<meta
    name="og:description"
    content="Meme search engine and recommendation system"
/>
<meta name="og:image" content="{{ url_for('static',filename='og.png') }}" />
<meta name="twitter:title" content="memegraph - search and explore memes" />
<meta
    name="twitter:description"
    content="Meme search engine and recommendation system"
/>
<link rel="canonical" href="https://memegraph.sean.app" />
{% endblock %} {% block content %}

<div class="grid">
    {% for image in images %}
    <a href="/{{ image.id }}">
        <img
            loading="lazy"
            width="{{ image.width }}"
            height="{{ image.height }}"
            src="https://memes.sean.app/{{ image.id }}"
        />
        {% if image.distance and image.similarity %}
        <div class="stat">
            <span>{{ image.distance }}</span>
            <span>{{ image.similarity }}%</span>
        </div>
        {% endif %}
    </a>
    {% endfor %}
</div>

{% endblock %}
