.fallback {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 18rem;
	height: calc(100dvh - 10rem);
}

.image {
	width: auto;
	height: 100%;
	max-height: 24rem;
	object-fit: cover;
}
