.header {
	max-height: 4rem;
	height: 4rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #2e3035;
}

header a,
button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	border-radius: calc(Infinity * 1px);
	background-color: transparent;
	border: none;
	flex-shrink: 0;
	cursor: pointer;
	height: 2.5rem;
	width: 2.5rem;
}

header svg {
	color: #999;
}
